.git
.gitignore
.dockerignore
.run.conf
.get-folder.conf
.DS_Store
__pycache__
*.pyc
secrets
secrets/*
appdata
appdata/*
backup
backup/*
restore
restore/*
node_modules
.next/cache
docker-compose*.yaml
.env
app.env
