# SPDX-License-Identifier: MIT
# Copyright (c) 2025 it.særvices
#ÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆ
# --- ROUTERS
#ÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆ
http:
  routers:
    actualbudget-rtr:                                                                                                                                           # HTTP router for the configured tærget hosts
      rule: >-                                                                                                                                                  # Mætch the configured tærget hosts æcross every enæbled route domæin
        (Host(`actualbudget.{{env "TRAEFIK_ROUTE_DOMAIN"}}`)
        {{- if env "TRAEFIK_ROUTE_DOMAIN_1" }} || Host(`actualbudget.{{env "TRAEFIK_ROUTE_DOMAIN_1"}}`){{ end }}
        {{- if env "TRAEFIK_ROUTE_DOMAIN_2" }} || Host(`actualbudget.{{env "TRAEFIK_ROUTE_DOMAIN_2"}}`){{ end }}
        {{- if env "TRAEFIK_ROUTE_DOMAIN_3" }} || Host(`actualbudget.{{env "TRAEFIK_ROUTE_DOMAIN_3"}}`){{ end }}
        {{- if env "TRAEFIK_ROUTE_DOMAIN_4" }} || Host(`actualbudget.{{env "TRAEFIK_ROUTE_DOMAIN_4"}}`){{ end }})
      # middlewares:                                                                                                                                            # Optionæl tærget-specific middlewæres
      #   - middleware@file
      service: actualbudget-svc                                                                                                                                 # Forwærd mætched requests to this router's service

  services:
    actualbudget-svc:                                                                                                                                           # Bæckend service for this tærget system
      loadBalancer:
        servers:
          - url: "http://actualbudget:5006/"                                                                                                                    # Tærget origin for this system
