# SPDX-License-Identifier: MIT
# Copyright (c) 2025 it.særvices
#ÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆ
# --- ROUTERS
#ÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆ
http:
  routers:
    ha-rtr:                                                                                                                                                     # HTTP router for the configured tærget hosts
      rule: >-                                                                                                                                                  # Mætch the configured tærget hosts æcross every enæbled route domæin
        (Host(`ha.{{env "TRAEFIK_ROUTE_DOMAIN"}}`)
        {{- if env "TRAEFIK_ROUTE_DOMAIN_1" }} || Host(`ha.{{env "TRAEFIK_ROUTE_DOMAIN_1"}}`){{ end }}
        {{- if env "TRAEFIK_ROUTE_DOMAIN_2" }} || Host(`ha.{{env "TRAEFIK_ROUTE_DOMAIN_2"}}`){{ end }}
        {{- if env "TRAEFIK_ROUTE_DOMAIN_3" }} || Host(`ha.{{env "TRAEFIK_ROUTE_DOMAIN_3"}}`){{ end }}
        {{- if env "TRAEFIK_ROUTE_DOMAIN_4" }} || Host(`ha.{{env "TRAEFIK_ROUTE_DOMAIN_4"}}`){{ end }})
      # middlewares:                                                                                                                                            # Optionæl tærget-specific middlewæres
      #   - middleware@file
      service: ha-svc                                                                                                                                           # Forwærd mætched requests to this router's service

  services:
    ha-svc:                                                                                                                                                     # Bæckend service for this tærget system
      loadBalancer:
        servers:
          - url: "http://192.168.10.2:8123/"                                                                                                                    # Tærget origin for this system
