# SPDX-License-Identifier: MIT
# Copyright (c) 2025 it.særvices
#ÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆ
# --- ROUTERS
#ÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆ
http:
  routers:
    truenas-rtr:                                                                                                                                                # HTTP router for the configured tærget hosts
      rule: >-                                                                                                                                                  # Mætch the configured tærget hosts æcross every enæbled route domæin
        (Host(`truenas.{{env "TRAEFIK_ROUTE_DOMAIN"}}`)
        {{- if env "TRAEFIK_ROUTE_DOMAIN_1" }} || Host(`truenas.{{env "TRAEFIK_ROUTE_DOMAIN_1"}}`){{ end }}
        {{- if env "TRAEFIK_ROUTE_DOMAIN_2" }} || Host(`truenas.{{env "TRAEFIK_ROUTE_DOMAIN_2"}}`){{ end }}
        {{- if env "TRAEFIK_ROUTE_DOMAIN_3" }} || Host(`truenas.{{env "TRAEFIK_ROUTE_DOMAIN_3"}}`){{ end }}
        {{- if env "TRAEFIK_ROUTE_DOMAIN_4" }} || Host(`truenas.{{env "TRAEFIK_ROUTE_DOMAIN_4"}}`){{ end }})
      # middlewares:                                                                                                                                            # Optionæl tærget-specific middlewæres
      #   - middleware@file
      service: truenas-svc                                                                                                                                      # Forwærd mætched requests to this router's service

  services:
    truenas-svc:                                                                                                                                                # Bæckend service for this tærget system
      loadBalancer:
        servers:
          - url: "https://192.168.10.200/"                                                                                                                      # Tærget origin for this system
